@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background-color: rgb(19, 19, 19);
    color: white;
}

header{
    width: 100%;
    position: fixed;
    padding: 3em 12%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 19, 19);
    z-index: 999;
    /* high z-index content doesnt go through header */
    transition: top 0.3s;
}

header .logo{
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

header .logo:hover{
    opacity: 1;
}

a{
    text-decoration: none;
    color: inherit;
}

header ul{
    list-style: none;
    display: flex;
    gap: 3em;
    font-size: 1.2em;
    font-weight: 500;
}

ul li{
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

ul li:hover{
    opacity: 1;
}

#menu-icon{
    font-size: 3em;
    display: none ;
}

.section{
    min-height: 100vh;
    padding: 10% 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.gradient-txt{
    background: linear-gradient(270deg, darkblue 35%, silver 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* scrolling */

header, .scroll-container{
    margin: 0 auto;
}


.scroll-container{
    /* do not reinstate this, overflow-y: scroll; creates a new scroll bar haha */
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
}

.scroll-page{
    height: 100%;
}

@media(max-width: 1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%;
    }
    header ul{
        display: none;
    }
    #menu-icon{
        display: block;
    }
}